@font-face {
    font-family: Netflfix;
    src: url(../fonts/netflix-sans-font/NetflixSans-Bold.otf);
    font: normal;
}

*{
    margin: 0%;
    padding: 0%;
}
:root{
    --branco: white;
    --preto: black;
}

main{
    width: 90%;
    padding: 30px;
    margin: 10px auto; /*espaço no eixo Y e X*/
}
#banner{

}

#footer{
    
}